<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Демо</title>
</head>
<body>
    <a href="/redirected"><button style="width: 300px; height: 200px">LOGIN</button></a>
    <a href="/redirected"><button style="width: 300px; height: 200px">LOGIN</button></a>
    <a href="/redirected"><button style="width: 300px; height: 200px">LOGIN</button></a>
    <a href="/redirected"><button style="width: 300px; height: 200px">LOGIN</button></a>
    <a href="/redirected"><button style="width: 300px; height: 200px">LOGIN</button></a>
</body>
</html>