{% extends "base.html" %}

{% block content %}
<a href="/main"><button style="width: 300px; height: 200px">MAIN</button></a>
<a href="/add_users"><button style="width: 300px; height: 200px">ADD USER</button></a>
<a href="/to_classes"><button style="width: 300px; height: 200px">TO CLASSES</button></a>
<a href="/logout"><button style="width: 300px; height: 200px">LOGOUT</button></a>
<a href="/tests"><button style="width: 300px; height: 200px">TESTS</button></a>
<a href="/add_test"><button style="width: 300px; height: 200px">ADD TEST</button></a>
{% endblock %}